html,
#root {
  background-color: #00a79d;
  /* background-image: url("./components/assets/"); */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montreal-Bold;
}

/* hide scroll bar */
html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@font-face {
  font-family: Lato;
  src: url("./components/assets/Lato/Lato-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: Lato;
  src: url("./components/assets/Lato/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Montreal-Bold";
  src: url("./components/assets/Montreal-Bold/Montreal-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Chalk-Board";
  src: url("./components/assets/Chalk/Chalk-Board.ttf");
}

.fb-login-button {
  margin: 5px;
}

.fb-login-button:hover {
  transform: scale(1.05);
}
