.footerContainer {
  height: auto;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.connect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.connect h2 {
  font-family: Montreal-Bold;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.connect p {
  margin-top: 5px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 30vw;
}

a {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #00a79d;
}

.socialContainer a {
  font-size: 20px;
}

.bottomFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #171717;
  height: 50px;
}

.socialHandle {
  font-family: Montreal-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.socialContainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo {
  color: #00a79d;
}

@media (max-width: 1000px) {
  .footerContainer {
    flex-direction: column;
  }

  .bottomFooter {
    justify-content: center;
  }

  .connect {
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 90%;
  }

  .connect p {
    width: fit-content;
  }

  .socialContainer {
    margin: 20px;
  }
}
