.images-container {
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: flex-start;
  margin: 50px 0px;
}

.preview-container {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.preview-container canvas {
  border: 15px solid #a7cecb;
  border-radius: 10px;
}

.uploadButton {
  padding: 25px;
}

.uploadImage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: 15px solid #a7cecb;
  border-radius: 10px;
}

.img-container img {
  display: block;
  width: 430px;
  height: 430px;
  max-width: 100%;
}

.imageSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#file-upload {
  display: none;
}

.custom-file-upload {
  background-color: #999797;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 230px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
  font-weight: bold;
  font-size: 16px;
}

.button-container {
  background-color: #a7cecb;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.button-container > div {
  font-family: Montreal-Bold;
  width: 250px;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  margin: 20px 0px 10px 0px;
}

.saveButton-container {
  background-color: #a7cecb;
  width: 300;
}

.generic-button {
  background-color: #999797;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  width: 220px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.generic-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.custom-file-upload:hover {
  transform: scale(1.05);
}

.fb-login-button:hover {
  transform: scale(1.05);
}

a.generic-button {
  width: 200px;
  background-color: #1877f1;
  margin-top: 20px;
}

#folderIcon {
  margin-right: 20px;
  margin-left: 7px;
}

#downloadIcon {
  margin-right: 10px;
}

#facebookIcon {
  margin-right: 10px;
}

.mask-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectMask {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a7cecb;
  border-radius: 10px;
  width: 250px;
  height: auto;
  padding: 20px;
}

.mask {
  background-color: #dcf5f2;
  width: 10vw;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 10px;
  justify-self: center;
}

.mask.active {
  border-color: #f8b0b0;
}

.mask:hover {
  transform: scale(1.1);
}

/* #relevant-mask {
}

#relevant-mask-q {
} */
/* 
#arrow {
  width: 100px;
  justify-self: center;
} */

#customize {
  font-family: Montreal-Bold;
  font-size: 2em;
  color: #fff;
  width: 100%;
  text-align: center;
}

.title-box {
  font-family: Montreal-Bold;
  font-size: 2em;
  color: #fff;
  background-color: #a7cecb;
  text-align: center;
  padding: 5px 30px;
  margin: 20px;
  border-radius: 10px;
}
