.parentContainer {
  margin: 50px;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  align-items: center;
}

.imageCropContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.imagesContainer > * {
  margin: 50px;
}

.previewContainer {
  width: auto;
  height: fit-content;
}

.previewContainer canvas {
  border: 15px solid #a7cecb;
  border-radius: 10px;
}

.uploadButton {
  display: none;
  padding: 25px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: 10px solid #a7cecb;
}

.imgContainer img {
  display: block;
  width: 20vw;
  height: 20vw;
  max-width: 100%;
}

.customFileUpload {
  background-color: #999797;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  width: 230px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.25px;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
}

.sectionTitleContainer {
  background-color: #a7cecb;
  width: 90%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionTitleContainer > div {
  font-family: Montreal-Bold;
  width: fit-content;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  margin: 20px;
}

.buttonContainer {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.colSectionContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.colSectionContainer > div {
  margin: 20px 0px 0px 20px;
}

.colSectionContainer ul {
  list-style: "- ";
  color: #fff;
  margin: 10px 0px 20px 10px;
  font-size: 1.3rem;
}

.genericButton {
  background-color: #999797;
  border: none;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  width: fit-content;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

.genericButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a.genericButton {
  background-color: #1877f1;
}

.customFileUpload:hover {
  transform: scale(1.05);
}

.folderIcon {
  margin-right: 20px;
  margin-left: 7px;
}

.downloadIcon {
  margin-right: 10px;
}

.facebookIcon {
  margin-right: 10px;
}

.maskContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectMask {
  background-color: #a7cecb;
  border-radius: 10px;
  width: 11vw;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mask {
  background-color: #dcf5f2;
  width: 150px;
  border: 3px solid #fff;
  border-radius: 10px;
  margin: 10px 0px;
  justify-self: center;
}

.mask.active {
  border-color: #f8b0b0;
}

.mask:hover {
  transform: scale(1.1);
}

.arrow a {
  color: #000;
  transition: color 0.5s;
}

.arrow a:hover {
  color: #a7cecb;
}

.titleBox {
  font-family: Montreal-Bold;
  font-size: 2em;
  color: #fff;
  background-color: #a7cecb;
  text-align: center;
  padding: 5px 30px;
  margin: 20px;
  border-radius: 10px;
}

@media (max-width: 810px) {
  .sectionTitleContainer {
    flex-direction: column;
  }

  .colSectionContainer div {
    margin: 10px;
  }

  .buttonContainer {
    justify-content: center;
  }

  .imageCropContainer {
    flex-direction: column;
  }

  .imageCropContainer > * {
    margin: 20px;
  }

  .selectMask {
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30vw;
  }

  .maskContainer {
    width: 65vw;
    margin: 0;
  }

  .mask {
    width: 25vw;
    margin: 5px;
  }

  .imgContainer img {
    width: 60vw;
    height: 60vw;
  }
}

/* @media (max-width: 768px) and (min-width: 481px) {
} */
