@font-face {
  font-family: Montreal-Bold;
  src: url("../src/components/assets/Montreal-Bold/Montreal-Bold.ttf");
}

@font-face {
  font-family: Lato;
  src: url("../src/components/assets/Lato/Lato-Regular.ttf");
}

body {
  margin: 0;
  background-color: #00a79d;
}

#main-content {
  margin: 50px;
  background-color: #c5f1ee;
  padding: 10px 40px;
  border-radius: 10px;
  font-family: Montreal-Bold;
}

p {
  font-family: Lato;
  font-size: 20px;
}

.mainNavLink {
  font-family: Montreal-Bold;
  font-size: 50px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  float: left;
  padding-top: 10px;
  transition: color 0.5s;
}

.secondaryNavLink {
  font-family: Montreal-Bold;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  margin: 25px;
  float: right;
  padding-top: 10px;
  transition: color 0.5s;
}

.navContainer a:hover {
  color: #94b9b6;
}

.navContainer {
  height: 105px;
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

nav {
  background-color: #ffffff;
}

.icon {
  margin-left: 10px;
}

.subtitle {
  font-size: 20px;
  margin: 0;
  line-height: 0;
  margin-left: 1px;
}

.footerContainer {
  height: 300px;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.connect h2 {
  font-family: Montreal-Bold;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.connect p {
  margin-top: 5px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 500px;
}

a {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #00a79d;
}

.socialContainer a {
  font-size: 20px;
}

.bottomFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: #171717;
  height: 50px;
  color: #fff;
  font-family: Lato;
  font-weight: bold;
  text-align: center;
}

.bottomFooter > * {
  margin: 0px 20px;
}

.bottomFooter a {
  color: #fff;
}

#githubLinkIcon {
  margin: 0px 7px;
}

.socialHandle {
  font-family: Montreal-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.socialContainer {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.logo {
  color: #00a79d;
}
